package {{ application.name | replace("-", "_") }}.infrastructure.config;

import com.baomidou.mybatisplus.annotation.DbType;
import com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor;
import com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class MybatisPlusConfig {

    @Bean
    public MybatisPlusInterceptor mybatisPlusInterceptor() {
        MybatisPlusInterceptor interceptor = new MybatisPlusInterceptor();
{% if application.database.driver == 'mysql' %}
        interceptor.addInnerInterceptor(new PaginationInnerInterceptor(DbType.MYSQL));
{% elif application.database.driver == 'h2' %}
        interceptor.addInnerInterceptor(new PaginationInnerInterceptor(DbType.H2));
{% else %}
        interceptor.addInnerInterceptor(new PaginationInnerInterceptor(DbType.POSTGRESQL));
{% endif %}
        return interceptor;
    }
}
